Repository readmeio/rdme, pull requests merged in 2022-10, with the labels that each got.

#610 chore(testbed): jest 29, flakiness fixes
  __tests__/cmds/openapi/__snapshots__/index.test.ts.snap
  __tests__/cmds/openapi/index.test.ts
  __tests__/lib/__snapshots__/commands.test.ts.snap
  __tests__/setup.js
  config/test.json
  jest.config.js
  package-lock.json
  package.json
  src/lib/configstore.ts
  src/lib/createGHA/index.ts
  src/lib/isCI.ts
  src/lib/logger.ts
  src/lib/promptWrapper.ts
Labels: bug, dependencies, refactor

#618 docs: create MAINTAINERS.md
  MAINTAINERS.md
Labels: documentation

#636 feat: prompt for login any time a user omits API key
  __tests__/cmds/categories/create.test.ts
  __tests__/cmds/categories/index.test.ts
  __tests__/cmds/changelogs/index.test.ts
  __tests__/cmds/changelogs/single.test.ts
  __tests__/cmds/custompages/index.test.ts
  __tests__/cmds/custompages/single.test.ts
  __tests__/cmds/docs/edit.test.ts
  __tests__/cmds/docs/index.test.ts
  __tests__/cmds/docs/single.test.ts
  __tests__/cmds/login.test.ts
  __tests__/cmds/openapi/index.test.ts
  __tests__/cmds/versions/create.test.ts
  __tests__/cmds/versions/delete.test.ts
  __tests__/cmds/versions/index.test.ts
  __tests__/cmds/versions/update.test.ts
  src/cmds/categories/create.ts
  src/cmds/categories/index.ts
  src/cmds/changelogs/index.ts
  src/cmds/changelogs/single.ts
  src/cmds/custompages/index.ts
  src/cmds/custompages/single.ts
  src/cmds/docs/edit.ts
  src/cmds/docs/index.ts
  src/cmds/docs/single.ts
  src/cmds/login.ts
  src/cmds/logout.ts
  src/cmds/oas.ts
  src/cmds/open.ts
  src/cmds/openapi/index.ts
  src/cmds/openapi/reduce.ts
  src/cmds/openapi/validate.ts
  src/cmds/versions/create.ts
  src/cmds/versions/delete.ts
  src/cmds/versions/index.ts
  src/cmds/versions/update.ts
  src/cmds/whoami.ts
  src/lib/baseCommand.ts
  src/lib/createGHA/index.ts
  src/lib/logger.ts
  src/lib/loginFlow.ts
Labels: enhancement, command:docs, command:openapi, command:versions, command:categories, command:other

#635 feat(breaking): drop version creation question from prompt flows
  __tests__/cmds/openapi/index.test.ts
  __tests__/lib/prompts.test.ts
  src/cmds/categories/create.ts
  src/cmds/categories/index.ts
  src/cmds/docs/edit.ts
  src/cmds/docs/index.ts
  src/cmds/docs/single.ts
  src/cmds/openapi/index.ts
  src/cmds/versions/delete.ts
  src/cmds/versions/update.ts
  src/lib/prompts.ts
  src/lib/versionSelect.ts
Labels: enhancement, refactor, command:docs, command:openapi, command:categories

#639 fix(validate): surface all validation errors
  __tests__/__fixtures__/very-invalid-oas.json
  __tests__/cmds/openapi/__snapshots__/validate.test.ts.snap
  __tests__/cmds/openapi/validate.test.ts
  package-lock.json
  package.json
Labels: bug, command:openapi

#646 feat(breaking/docs): deprecate `docs:edit`
  __tests__/cmds/docs/edit.test.ts
  __tests__/index.test.ts
  __tests__/lib/__snapshots__/commands.test.ts.snap
  src/cmds/docs/edit.ts
Labels: enhancement, refactor, command:docs

#642 feat(docs): consolidate `single` commands
  README.md
  __tests__/cmds/changelogs/index.test.ts
  __tests__/cmds/changelogs/single.test.ts
  __tests__/cmds/custompages/index.test.ts
  __tests__/cmds/custompages/single.test.ts
  __tests__/cmds/docs/index.test.ts
  __tests__/cmds/docs/single.test.ts
  __tests__/index.test.ts
  __tests__/lib/__snapshots__/commands.test.ts.snap
  __tests__/lib/__snapshots__/createGHA.test.ts.snap
  __tests__/lib/commands.test.ts
  __tests__/lib/createGHA.test.ts
  src/cmds/changelogs.ts
  src/cmds/changelogs/index.ts
  src/cmds/changelogs/single.ts
  src/cmds/custompages.ts
  src/cmds/custompages/index.ts
  src/cmds/custompages/single.ts
  src/cmds/docs/index.ts
  src/cmds/docs/single.ts
  src/cmds/index.ts
  src/lib/syncDocsPath.ts
Labels: enhancement, refactor, command:docs

#647 feat(docs): add `guides` alias
  README.md
  __tests__/cmds/docs/index.test.ts
  __tests__/cmds/docs/prune.test.ts
  __tests__/index.test.ts
  __tests__/lib/__snapshots__/commands.test.ts.snap
  src/cmds/guides/index.ts
  src/cmds/guides/prune.ts
  src/cmds/index.ts
  src/lib/commands.ts
Labels: enhancement, documentation, command:docs

#648 feat(docs:prune): `--confirm` flag to bypass prompt
  README.md
  __tests__/cmds/docs/prune.test.ts
  src/cmds/docs/prune.ts
Labels: enhancement, command:docs

#637 docs: v8 docs
  .github/workflows/docs.yml
  CONTRIBUTING.md
  README.md
  documentation/github-actions-docs-example.md
  documentation/github-actions-openapi-example.md
  documentation/legacy-github-action.md
  documentation/rdme.md
  package.json
Labels: documentation
