Repository readmeio/rdme, pull requests merged in 2022-08, with the labels that each got.

#556 refactor(openapi): DRY and logic reorg
  src/cmds/openapi.js
  src/cmds/validate.js
  src/lib/prepareOas.js
Labels: refactor, command:openapi

#557 feat(logger): add GHA-aware notices/warnings
  .eslintrc
  __tests__/cmds/docs.test.js
  __tests__/cmds/openapi.test.js
  __tests__/cmds/validate.test.js
  __tests__/lib/fetch.test.js
  package-lock.json
  package.json
  src/cmds/docs/edit.js
  src/cmds/openapi.js
  src/cmds/swagger.js
  src/lib/isGitHub.js
  src/lib/logger.js
  src/lib/prepareOas.js
Labels: enhancement, command:openapi

#561 feat: add prettier formatting check for markdown
  .prettierignore
  package.json
Labels: enhancement, documentation

#562 refactor: consolidate auth checks
  __tests__/cmds/changelogs/index.test.ts
  __tests__/cmds/changelogs/single.test.ts
  __tests__/cmds/docs/edit.test.ts
  __tests__/cmds/docs/index.test.ts
  __tests__/cmds/docs/single.test.ts
  __tests__/cmds/openapi.test.ts
  __tests__/cmds/versions/create.test.ts
  src/cmds/categories/create.ts
  src/cmds/categories/index.ts
  src/cmds/changelogs/index.ts
  src/cmds/changelogs/single.ts
  src/cmds/custompages/index.ts
  src/cmds/custompages/single.ts
  src/cmds/docs/edit.ts
  src/cmds/docs/index.ts
  src/cmds/docs/single.ts
  src/cmds/openapi.ts
  src/cmds/versions/create.ts
  src/cmds/versions/delete.ts
  src/cmds/versions/index.ts
  src/cmds/versions/update.ts
  src/lib/baseCommand.ts
Labels: refactor

#559 feat(openapi): version handling improvements
  __tests__/__fixtures__/petstore-simple-weird-version.json
  __tests__/__snapshots__/index.test.ts.snap
  __tests__/cmds/docs/edit.test.ts
  __tests__/cmds/openapi.test.ts
  __tests__/cmds/validate.test.ts
  __tests__/lib/commands.test.ts
  src/cmds/categories/create.ts
  src/cmds/categories/index.ts
  src/cmds/docs/edit.ts
  src/cmds/docs/index.ts
  src/cmds/docs/single.ts
  src/cmds/openapi.ts
  src/cmds/versions/index.ts
  src/cmds/versions/update.ts
  src/lib/baseCommand.ts
  src/lib/logger.ts
  src/lib/prepareOas.ts
  src/lib/versionSelect.ts
Labels: enhancement, refactor, command:docs, command:openapi, command:categories

#563 feat: minor refactor of how we debug and log out data in commands
  .eslintrc
  package-lock.json
  package.json
  src/cmds/categories/create.ts
  src/cmds/categories/index.ts
  src/cmds/changelogs/index.ts
  src/cmds/custompages/index.ts
  src/cmds/docs/edit.ts
  src/cmds/docs/index.ts
  src/cmds/docs/single.ts
  src/cmds/open.ts
  src/cmds/openapi.ts
  src/cmds/swagger.ts
  src/cmds/versions/delete.ts
  src/cmds/versions/update.ts
  src/lib/baseCommand.ts
Labels: refactor

#564 feat: upgrading oas-normalize to pull in its new TS typings
  package-lock.json
  package.json
  src/.sink.d.ts
  src/lib/prepareOas.ts
  tsconfig.json
Labels: enhancement

#565 ci: optimize test runs and add docs syncing dry run
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: refactor

#566 fix: quieter log outputs when installing GHA
  action.yml
Labels: enhancement

#569 chore(deps-dev): bring in types for `@npmcli/ci-detect`
  package-lock.json
  package.json
  src/.sink.d.ts
  src/lib/versionSelect.ts
  tsconfig.json
Labels: refactor

#567 feat(openapi): auto-detect API definitions
  .gitignore
  README.md
  __tests__/__fixtures__/invalid-json/yikes.json
  __tests__/__fixtures__/nested-gitignored-oas/nest/.gitignore
  __tests__/__fixtures__/nested-gitignored-oas/nest/petstore.json
  __tests__/cmds/openapi.test.ts
  __tests__/cmds/validate.test.ts
  package-lock.json
  package.json
  src/cmds/changelogs/index.ts
  src/cmds/custompages/index.ts
  src/cmds/docs/index.ts
  src/lib/prepareOas.ts
  src/lib/pushDoc.ts
  src/lib/readdirRecursive.ts
Labels: enhancement, command:openapi

#570 refactor: migrate from `enquirer` to `prompts`
  CONTRIBUTING.md
  __tests__/cmds/__snapshots__/login.test.ts.snap
  __tests__/cmds/login.test.ts
  __tests__/cmds/openapi.test.ts
  __tests__/cmds/versions/create.test.ts
  __tests__/cmds/versions/update.test.ts
  __tests__/lib/prompts.test.ts
  package-lock.json
  package.json
  src/cmds/login.ts
  src/cmds/openapi.ts
  src/cmds/versions/create.ts
  src/cmds/versions/delete.ts
  src/cmds/versions/update.ts
  src/lib/baseCommand.ts
  src/lib/prepareOas.ts
  src/lib/promptWrapper.ts
  src/lib/prompts.ts
  src/lib/versionSelect.ts
Labels: bug, enhancement, refactor, command:docs, command:openapi, command:versions, command:categories, command:other

#572 feat: creation of new `openapi:reduce` command to reduce large OpenAPI definitions
  README.md
  __tests__/__fixtures__/relative-ref-oas/petstore.json
  __tests__/__snapshots__/index.test.ts.snap
  __tests__/cmds/openapi/__snapshots__/index.test.ts.snap
  __tests__/cmds/openapi/index.test.ts
  __tests__/cmds/openapi/reduce.test.ts
  __tests__/lib/__snapshots__/commands.test.ts.snap
  package-lock.json
  package.json
  src/cmds/index.ts
  src/cmds/openapi/index.ts
  src/cmds/openapi/reduce.ts
  src/cmds/swagger.ts
  src/lib/prepareOas.ts
Labels: enhancement, command:openapi

#576 chore(prompt): various enhancements and refactors
  __tests__/cmds/login.test.ts
  src/cmds/categories/create.ts
  src/cmds/categories/index.ts
  src/cmds/changelogs/index.ts
  src/cmds/changelogs/single.ts
  src/cmds/custompages/index.ts
  src/cmds/custompages/single.ts
  src/cmds/docs/edit.ts
  src/cmds/docs/index.ts
  src/cmds/docs/single.ts
  src/cmds/login.ts
  src/cmds/openapi/index.ts
  src/cmds/versions/create.ts
  src/cmds/versions/delete.ts
  src/cmds/versions/index.ts
  src/cmds/versions/update.ts
  src/lib/baseCommand.ts
  src/lib/promptWrapper.ts
Labels: enhancement, refactor, command:other

#574 feat: experiment with a decorator to hide commands from the help screen
  __tests__/__snapshots__/index.test.ts.snap
  __tests__/lib/__snapshots__/commands.test.ts.snap
  __tests__/lib/commands.test.ts
  src/cmds/oas.ts
  src/cmds/swagger.ts
  src/lib/baseCommand.ts
  src/lib/commands.ts
  src/lib/decorators/isHidden.ts
  src/lib/help.ts
  tsconfig.json
Labels: enhancement, command:other

#575 feat(openapi): add `--create` flag
  README.md
  __tests__/__snapshots__/index.test.ts.snap
  __tests__/cmds/openapi/index.test.ts
  src/cmds/openapi/index.ts
Labels: enhancement, command:openapi

#579 feat(openapi): Add `updateSingleSpec` option to automatically update an only available spec file without any prompts
  README.md
  __tests__/__snapshots__/index.test.ts.snap
  __tests__/cmds/openapi/index.test.ts
  src/cmds/openapi/index.ts
Labels: enhancement, command:openapi

#584 test(`openapi`): fix a few incorrect mocks
  __tests__/cmds/openapi/index.test.ts
Labels: refactor, command:openapi

#585 fix(openapi): stricter tests, `create` flag edge case
  __tests__/cmds/openapi/index.test.ts
  __tests__/helpers/get-api-mock.ts
  src/cmds/openapi/index.ts
Labels: bug, refactor, command:openapi
