Repository readmeio/rdme, pull requests merged in 2022-12, with the labels that each got.

#695 chore(deps): bump a bunch of deps
  package-lock.json
Labels: dependencies

#699 docs: better callout for `rdme login` usage
  README.md
Labels: documentation

#705 fix(createGHA): git remote connection errors
  __tests__/helpers/get-git-mock.ts
  __tests__/lib/__snapshots__/createGHA.test.ts.snap
  __tests__/lib/createGHA.test.ts
  src/lib/baseCommand.ts
  src/lib/createGHA/index.ts
  src/lib/logger.ts
Labels: bug, refactor, GHA / CI

#706 docs: `openapi:inspect`
  README.md
  documentation/github-actions-openapi-example.md
  documentation/rdme.md
Labels: documentation, command:openapi

#698 feat(openapi): introduction of a new `openapi:inspect` command
  README.md
  __tests__/__snapshots__/index.test.ts.snap
  __tests__/cmds/openapi/__snapshots__/inspect.test.ts.snap
  __tests__/cmds/openapi/inspect.test.ts
  __tests__/lib/__snapshots__/analyzeOas.test.ts.snap
  __tests__/lib/__snapshots__/commands.test.ts.snap
  __tests__/lib/analyzeOas.test.ts
  documentation/github-actions-openapi-example.md
  documentation/rdme.md
  package-lock.json
  package.json
  src/cli.ts
  src/cmds/index.ts
  src/cmds/openapi/index.ts
  src/cmds/openapi/inspect.ts
  src/cmds/openapi/reduce.ts
  src/cmds/openapi/validate.ts
  src/lib/analyzeOas.ts
  src/lib/prepareOas.ts
  src/lib/softError.ts
  tsconfig.json
Labels: enhancement, command:openapi

#707 feat: dropping our `position` system for ordering commands in `--help`
  __tests__/__snapshots__/index.test.ts.snap
  __tests__/lib/__snapshots__/commands.test.ts.snap
  __tests__/lib/commands.test.ts
  src/cmds/categories/create.ts
  src/cmds/categories/index.ts
  src/cmds/changelogs.ts
  src/cmds/custompages.ts
  src/cmds/docs/edit.ts
  src/cmds/docs/index.ts
  src/cmds/docs/prune.ts
  src/cmds/guides/index.ts
  src/cmds/guides/prune.ts
  src/cmds/login.ts
  src/cmds/logout.ts
  src/cmds/oas.ts
  src/cmds/open.ts
  src/cmds/openapi/index.ts
  src/cmds/openapi/inspect.ts
  src/cmds/openapi/reduce.ts
  src/cmds/openapi/validate.ts
  src/cmds/swagger.ts
  src/cmds/validate.ts
  src/cmds/versions/create.ts
  src/cmds/versions/delete.ts
  src/cmds/versions/index.ts
  src/cmds/versions/update.ts
  src/cmds/whoami.ts
  src/lib/baseCommand.ts
  src/lib/commands.ts
  src/lib/help.ts
Labels: enhancement

#713 fix(`docs:prune`): prune child docs
  __tests__/cmds/docs/prune.test.ts
  src/lib/getDocs.ts
Labels: bug, command:docs

#715 chore: bump deps
  package-lock.json
Labels: dependencies

#717 feat(openapi): exposing our spec conversion tooling to a new `:convert` command
  README.md
  __tests__/__snapshots__/index.test.ts.snap
  __tests__/cmds/openapi/convert.test.ts
  __tests__/lib/__snapshots__/commands.test.ts.snap
  src/cmds/index.ts
  src/cmds/openapi/convert.ts
  src/cmds/openapi/index.ts
  src/cmds/openapi/inspect.ts
  src/cmds/openapi/reduce.ts
  src/lib/logger.ts
  src/lib/prepareOas.ts
Labels: enhancement, command:openapi

#718 feat(openapi): add ability to override title
  __tests__/__snapshots__/index.test.ts.snap
  __tests__/cmds/openapi/__snapshots__/index.test.ts.snap
  __tests__/cmds/openapi/index.test.ts
  __tests__/cmds/openapi/reduce.test.ts
  package-lock.json
  package.json
  src/cmds/openapi/convert.ts
  src/cmds/openapi/index.ts
  src/cmds/openapi/inspect.ts
  src/cmds/openapi/reduce.ts
  src/cmds/openapi/validate.ts
  src/lib/baseCommand.ts
  src/lib/prepareOas.ts
Labels: bug, enhancement, refactor, command:openapi

#720 docs: 1password shell plugin
  README.md
Labels: documentation

#721 feat(api): surface `Warning` response headers
  __tests__/lib/fetch.test.ts
  src/lib/fetch.ts
  src/lib/logger.ts
Labels: enhancement
