Repository readmeio/rdme, pull requests merged in 2023-08, with the labels that each got.

#850 chore(deps): bump
  package-lock.json
  package.json
Labels: dependencies

#852 fix: typo
  README.md
  __tests__/cmds/openapi/__snapshots__/inspect.test.ts.snap
  src/cmds/openapi/inspect.ts
Labels: bug, documentation, command:openapi

#854 chore: clean up tsconfig files
  __tests__/tsconfig.json
  jest.config.js
  tsconfig.json
Labels: refactor

#855 fix(openapi/inspect): small url formatting error
  __tests__/cmds/openapi/__snapshots__/inspect.test.ts.snap
  src/cmds/openapi/inspect.ts
Labels: bug, command:openapi

#861 fix(versions): general refactors to handle flag edge cases
  __tests__/cmds/versions/create.test.ts
  __tests__/cmds/versions/update.test.ts
  __tests__/lib/prompts.test.ts
  src/cmds/versions/create.ts
  src/cmds/versions/update.ts
  src/lib/baseCommand.ts
  src/lib/castStringOptToBool.ts
  src/lib/prompts.ts
Labels: bug, refactor, command:versions

#866 chore: add debug statements for `process.chdir`
  src/cmds/openapi/convert.ts
  src/cmds/openapi/index.ts
  src/cmds/openapi/inspect.ts
  src/cmds/openapi/reduce.ts
  src/cmds/openapi/validate.ts
  src/lib/createGHA/index.ts
Labels: enhancement, command:openapi, GHA / CI

#867 fix(reducer): quirk with security schemes sometimes getting removed
  package-lock.json
  package.json
Labels: bug, command:openapi

#859 ci: knip
  .alexrc.js
  .alexrc.yml
  .github/workflows/ci.yml
  knip.ts
  package-lock.json
  package.json
  src/cmds/categories/create.ts
  src/cmds/changelogs.ts
  src/cmds/custompages.ts
  src/cmds/docs/edit.ts
  src/cmds/login.ts
  src/cmds/open.ts
  src/cmds/openapi/convert.ts
  src/cmds/openapi/inspect.ts
  src/cmds/openapi/reduce.ts
  src/lib/commands.ts
Labels: enhancement

#872 fix(versions): fix ability to set main version
  __tests__/cmds/versions/create.test.ts
  __tests__/cmds/versions/update.test.ts
  src/cmds/versions/create.ts
  src/cmds/versions/update.ts
  src/lib/prompts.ts
Labels: bug, command:versions
