Repository readmeio/rdme, pull requests merged in 2025-03, with the labels that each got.

#1186 chore(deps): bump
  __tests__/commands/openapi/__snapshots__/validate.test.ts.snap
  package-lock.json
  package.json
  tsconfig.json
Labels: dependencies, backport-to-v9

#1188 test(openapi/validate): rewrite tests to be more comprehensive
  __tests__/commands/openapi/__snapshots__/validate.test.ts.snap
  __tests__/commands/openapi/validate.test.ts
Labels: refactor, command:openapi

#1189 feat(openapi): improvements to circular ref detection, validation errors
  __tests__/commands/openapi/__snapshots__/inspect.test.ts.snap
  __tests__/commands/openapi/__snapshots__/validate.test.ts.snap
  package-lock.json
  package.json
Labels: enhancement, dependencies, command:openapi

#1190 test: more enhancements
  __tests__/commands/__snapshots__/login.test.ts.snap
  __tests__/commands/__snapshots__/logout.test.ts.snap
  __tests__/commands/__snapshots__/whoami.test.ts.snap
  __tests__/commands/login.test.ts
  __tests__/commands/logout.test.ts
  __tests__/commands/openapi/__snapshots__/convert.test.ts.snap
  __tests__/commands/openapi/__snapshots__/inspect.test.ts.snap
  __tests__/commands/openapi/__snapshots__/reduce.test.ts.snap
  __tests__/commands/openapi/convert.test.ts
  __tests__/commands/openapi/inspect.test.ts
  __tests__/commands/openapi/reduce.test.ts
  __tests__/commands/openapi/validate.test.ts
  __tests__/commands/whoami.test.ts
  __tests__/helpers/oclif.ts
Labels: refactor, command:openapi, command:other

#1197 chore: bump deps, tsconfig tweaks
  package-lock.json
  tsconfig.json
Labels: dependencies, needs-backport-to-v9

#1198 feat(docs/upload): support `.mdx` file extension
  __tests__/__fixtures__/docs/mixed-docs/new-doc-slug.mdx
  __tests__/commands/docs/__snapshots__/upload.test.ts.snap
  src/lib/syncPagePath.ts
Labels: enhancement, command:docs
