Repository readmeio/rdme, pull requests merged in 2025-07, with the labels that each got.

#1282 fix(pages/upload): decouple autofixing and uploads
  __tests__/commands/changelog/__snapshots__/upload.test.ts.snap
  __tests__/commands/changelog/upload.test.ts
  __tests__/commands/custompages/__snapshots__/upload.test.ts.snap
  __tests__/commands/custompages/upload.test.ts
  __tests__/commands/pages/__snapshots__/upload.test.ts.snap
  __tests__/commands/pages/upload.test.ts
  src/commands/docs/migrate.ts
  src/lib/syncPagePath.ts
  src/lib/types/index.ts
  src/lib/validateFrontmatter.ts
Labels: enhancement, command:pages, bug

#1286 chore: remove bidi checks for page uploads
  __tests__/commands/changelog/__snapshots__/upload.test.ts.snap
  __tests__/commands/changelog/upload.test.ts
  __tests__/commands/custompages/__snapshots__/upload.test.ts.snap
  __tests__/commands/custompages/upload.test.ts
  __tests__/commands/pages/__snapshots__/upload.test.ts.snap
  __tests__/commands/pages/upload.test.ts
  src/lib/syncPagePath.ts
Labels: enhancement, command:pages

#1285 chore(deps/v9): npm up
  .eslintrc
  __tests__/commands/openapi/__snapshots__/inspect.test.ts.snap
  __tests__/lib/__snapshots__/analyzeOas.test.ts.snap
  documentation/migration-guide.md
  package-lock.json
  package.json
  src/lib/getDocs.ts
  src/lib/readdirRecursive.ts
Labels: dependencies

#1288 chore: move some docs around
  documentation/synced/legacy/github-actions-docs-example.mdx
  documentation/synced/legacy/github-actions-openapi-example.mdx
  documentation/synced/legacy/legacy-github-action.mdx
  documentation/synced/legacy/rdme.mdx
  documentation/synced/rdme.mdx
Labels: documentation

#1290 feat(logger): improved warnings for GHA users
  __tests__/commands/changelog/__snapshots__/upload.test.ts.snap
  __tests__/commands/custompages/__snapshots__/upload.test.ts.snap
  __tests__/commands/openapi/__snapshots__/convert.test.ts.snap
  __tests__/commands/openapi/__snapshots__/upload.test.ts.snap
  __tests__/commands/pages/__snapshots__/upload.test.ts.snap
  src/commands/openapi/convert.ts
  src/lib/baseCommand.ts
  src/lib/logger.ts
  src/lib/readmeAPIFetch.ts
Labels: enhancement, GHA / CI

#1287 feat: mark page upload commands as stable, update migration guide
  README.md
  __tests__/commands/changelog/__snapshots__/upload.test.ts.snap
  __tests__/commands/changelog/upload.test.ts
  __tests__/commands/custompages/__snapshots__/upload.test.ts.snap
  __tests__/commands/custompages/upload.test.ts
  __tests__/commands/pages/__snapshots__/upload.test.ts.snap
  __tests__/commands/pages/upload.test.ts
  documentation/commands/changelog.md
  documentation/commands/custompages.md
  documentation/commands/docs.md
  documentation/commands/reference.md
  documentation/migration-guide.md
  documentation/synced/legacy/rdme.mdx
  documentation/synced/rdme.mdx
  src/commands/changelog/upload.ts
  src/commands/changelogs.ts
  src/commands/custompages/upload.ts
  src/commands/docs/migrate.ts
  src/commands/docs/upload.ts
  src/commands/reference/upload.ts
  src/lib/pageCommandProperties.ts
Labels: enhancement, documentation, command:pages

#1208 fix(v9/docs): migration guide + deprecation notice updates
  README.md
  documentation/commands/changelogs.md
  documentation/commands/custompages.md
  documentation/commands/docs.md
  documentation/legacy/github-actions-docs-example.md
  documentation/legacy/github-actions-openapi-example.md
  documentation/legacy/rdme.md
  documentation/migration-guide.md
  src/commands/categories/create.ts
  src/commands/categories/index.ts
  src/commands/changelogs.ts
  src/commands/custompages.ts
  src/commands/docs/index.ts
  src/commands/docs/prune.ts
  src/commands/open.ts
  src/commands/openapi/index.ts
  src/commands/versions/create.ts
  src/commands/versions/delete.ts
  src/commands/versions/index.ts
  src/commands/versions/update.ts
Labels: documentation, command:pages

#1291 docs: small doc oversights
  documentation/commands/changelogs.md
  documentation/synced/github-actions-openapi-example.mdx
  documentation/synced/rdme.mdx
Labels: documentation

#1296 docs: use major node version in placeholders
  __tests__/lib/getPkgVersion.test.ts
  src/lib/getPkg.ts
Labels: documentation, bug

#1305 feat(inspect): splitting apart `xml` into three fine-tuned datasets
  __tests__/commands/openapi/__snapshots__/inspect.test.ts.snap
  __tests__/lib/__snapshots__/analyzeOas.test.ts.snap
  __tests__/lib/analyzeOas.test.ts
  package-lock.json
  package.json
  src/lib/analyzeOas.ts
Labels: enhancement, command:openapi

#1308 chore(deps-dev): upgrading biome
  bin/set-version-output.js
  biome.jsonc
  package-lock.json
Labels: dependencies

#1313 fix(openapi/upload): custom slugs for URL uploads
  __tests__/commands/openapi/__snapshots__/upload.test.ts.snap
  __tests__/commands/openapi/upload.test.ts
  src/commands/openapi/upload.ts
Labels: command:openapi, bug

#1309 feat(openapi/upload): docs + DX enhancements for slugs vs. legacy IDs
  __tests__/commands/openapi/__snapshots__/upload.test.ts.snap
  __tests__/commands/openapi/upload.test.ts
  documentation/commands/openapi.md
  documentation/migration-guide.md
  src/commands/openapi/upload.ts
Labels: enhancement, documentation, command:openapi
