Repository readmeio/rdme, pull requests merged in 2025-01, with the labels that each got.

#1126 feat(openapi): tooling upgrades
  __tests__/commands/openapi/__snapshots__/inspect.test.ts.snap
  __tests__/commands/openapi/inspect.test.ts
  __tests__/lib/__snapshots__/analyzeOas.test.ts.snap
  __tests__/lib/analyzeOas.test.ts
  package-lock.json
  package.json
  src/commands/openapi/convert.ts
  src/commands/openapi/inspect.ts
  src/lib/analyzeOas.ts
  src/lib/prepareOas.ts
Labels: enhancement, dependencies, command:openapi

#1127 feat(openapi): a fresh coat of paint on `openapi inspect`
  __tests__/commands/openapi/__snapshots__/inspect.test.ts.snap
  __tests__/commands/openapi/inspect.test.ts
  __tests__/lib/__snapshots__/analyzeOas.test.ts.snap
  src/commands/openapi/inspect.ts
  src/lib/analyzeOas.ts
Labels: enhancement, command:openapi

#1143 chore(deps): bump
  package-lock.json
  package.json
Labels: dependencies

#1141 fix(openapi): type fixes in `prepareOas`
  src/commands/openapi/upload.ts
  src/index.ts
  src/lib/prepareOas.ts
Labels: bug, command:openapi

#1145 feat(v9): backport openapi tooling etc. from v10
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  __tests__/commands/openapi/__snapshots__/inspect.test.ts.snap
  __tests__/commands/openapi/inspect.test.ts
  __tests__/lib/__snapshots__/analyzeOas.test.ts.snap
  __tests__/lib/analyzeOas.test.ts
  documentation/commands/autocomplete.md
  documentation/commands/help.md
  documentation/commands/openapi.md
  package-lock.json
  package.json
  src/commands/openapi/convert.ts
  src/commands/openapi/inspect.ts
  src/index.ts
  src/lib/analyzeOas.ts
  src/lib/prepareOas.ts
Labels: bug, enhancement, dependencies, command:openapi

#1147 chore: backport v9 changes back to v10
  .releaserc.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Labels: bug, documentation

#1148 chore(deps-dev): bump vitest to 3.0, `npm up`
  package-lock.json
  package.json
  src/lib/readdirRecursive.ts
Labels: dependencies

#1149 chore: smol refactors
  src/commands/changelogs.ts
  src/lib/baseCommand.ts
  src/lib/readmeAPIFetch.ts
  src/lib/syncDocsPath.legacy.ts
Labels: refactor

#1153 fix(openapi): adding support for OpenAPI 3.1.1, 3.0.4 and basic auth fetches
  package-lock.json
  package.json
Labels: bug, enhancement, dependencies, command:openapi

#1160 chore: random touch-ups from #1159
  README.md
  __tests__/__fixtures__/custompages/existing-docs/not-a-markdown-file
  __tests__/__fixtures__/custompages/existing-docs/simple-doc.md
  __tests__/__fixtures__/custompages/existing-docs/subdir/another-doc.md
  __tests__/__fixtures__/custompages/failure-docs/doc-sans-attributes.md
  __tests__/__fixtures__/custompages/failure-docs/new-doc.md
  __tests__/__fixtures__/custompages/new-docs-html/new-doc.html
  __tests__/__fixtures__/custompages/new-docs/new-doc.md
  __tests__/__fixtures__/custompages/slug-docs/new-doc-slug.md
  __tests__/__fixtures__/docs/delete-docs/some-doc.md
  __tests__/__fixtures__/docs/docs-with-parent-ids/child.md
  __tests__/__fixtures__/docs/docs-with-parent-ids/friend.md
  __tests__/__fixtures__/docs/docs-with-parent-ids/parent.md
  __tests__/__fixtures__/docs/docs-with-parent-ids/with-parent-doc.md
  __tests__/__fixtures__/docs/failure-docs/doc-sans-attributes.md
  __tests__/__fixtures__/docs/failure-docs/new-doc.md
  __tests__/__fixtures__/docs/multiple-docs-cycle/child.md
  __tests__/__fixtures__/docs/multiple-docs-cycle/grandparent.md
  __tests__/__fixtures__/docs/multiple-docs-cycle/parent.md
  __tests__/__fixtures__/docs/multiple-docs-no-parents/child.md
  __tests__/__fixtures__/docs/multiple-docs-no-parents/friend.md
  __tests__/helpers/get-gha-setup.ts
  __tests__/helpers/get-git-mock.ts
  __tests__/helpers/oclif.ts
  documentation/commands/changelogs.md
  src/commands/changelogs.ts
  src/index.ts
  src/lib/apiError.ts
  src/lib/createGHA/index.ts
  src/lib/getPkg.ts
  src/lib/logger.ts
  src/lib/loginFlow.ts
  src/lib/prepareOas.ts
  src/lib/readDoc.ts
  src/lib/readdirRecursive.ts
  src/lib/readmeAPIFetch.ts
  src/lib/syncDocsPath.legacy.ts
  src/lib/validatePromptInput.ts
Labels: refactor, documentation

#1162 chore: another grab bag of changes from #1159
  __tests__/commands/changelogs/index.test.ts
  __tests__/commands/changelogs/single.test.ts
  __tests__/commands/login.test.ts
  __tests__/commands/openapi/convert.test.ts
  __tests__/commands/openapi/reduce.test.ts
  __tests__/commands/openapi/upload.test.ts
  __tests__/helpers/get-gha-setup.ts
  __tests__/helpers/global-setup.ts
  __tests__/lib/fetch.test.ts
  __tests__/lib/getPkgVersion.test.ts
  documentation/commands/changelogs.md
  documentation/rdme.md
  package-lock.json
  src/commands/changelogs.ts
  src/lib/baseCommand.ts
  src/lib/readDoc.ts
  src/lib/syncDocsPath.legacy.ts
  vitest.config.ts
Labels: dependencies, refactor, documentation
